<template>
    <div id="leafletmap" class="map">

    </div>
</template>

<script>
    import L from 'leaflet';
    import "leaflet/dist/leaflet.css";

    export default {
        name   : "LeafletMap",
        data() {
            return {
                loading      : false,
                objects      : {},
                mapObject    : null,
                markerIcon   : null,
                currentBounds: null
            };
        },
        created() {
            this.markerIcon = L.icon({
                iconUrl   : '/images/pin_house.svg',
                iconSize  : [40, 60],
                iconAnchor: [20, 60],
            });

        },
        mounted() {
            this.mapObject = L.map(this.$el, {
                center: [52.050418, 113.4711],
                zoom  : 13
            });
            this.setWaterMark();
            this.loadObjects();

            L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(this.mapObject)

            this.mapObject.on('click', (e) => this.onClickMap(e));
            this.mapObject.on('moveend', (e) => this.onMoveMap(e));

        },
        methods: {
            setWaterMark() {
                L.Control.Watermark = L.Control.extend({
                    onAdd: function (map) {
                        let img         = L.DomUtil.create('img');
                        img.src         = '/images/logo-mygaff-orange.svg';
                        img.style.width = '100px';
                        return img;
                    }
                });
                L.control.watermark = function (opts) {
                    return new L.Control.Watermark(opts);
                };
                L.control.watermark({position: 'bottomright'}).addTo(this.mapObject);
            },
            loadObjects() {
                this.currentBounds = this.mapObject.getBounds();
                this.loading = true;
                this.$axios.post('/api/map/objects', {
                    bounds : {
                        northEast : this.currentBounds._northEast,
                        southWest : this.currentBounds._southWest
                    }
                }).then(response => {
                    this.loading = true;
                    this.objects = response.data.data;
                    this.updateMarkers();
                }).catch(error => {
                    console.log(error);
                    this.loading = true;
                })
            },

            updateMarkers() {
                this.objects.forEach(item => {
                    L.marker([item.coordinates.latitude, item.coordinates.longitude], {icon: this.markerIcon}).addTo(this.mapObject);
                });
            },

            onMoveMap(e) {
                console.log('move');
                this.loadObjects();
            },

            onClickMap(e) {
                console.log('click');
                this.loadObjects();
            }
        },
        watch  : {}
    }
</script>
<style lang="scss" scoped>
    .map {
        width: 100%;
        height: 100%;
    }
</style>
