<template>
    <div class="objects">
        <loader v-if="loading"/>
        <div
                v-if="!loading"
                class="objects-list"
        >
            <div class="objects-list__header">
                <h2>{{ objects.meta.total }} {{ getObjectTitleDeclination }}</h2>
            </div>
            <div class="objects-list__container">
                <a
                        v-for="object in objects.data"
                        href="#"
                        class="objects-list__item"
                >
                    <div class="objects-list__images">
                        <img
                                v-if="!!object.images[0]"
                                :src="object.images[0]['640x480']"
                        >
                        <img
                                v-else
                                src="https://autozip-market.ru/_img/cmall/icon__CmallEmptyBigImg.png"
                        >
                        <span class="type-object">{{(object.type) ? 'Продажа' : 'Аренда'}}</span>
                    </div>
                    <div class="objects-list__options">
                        <div class="price-block">
                            <div class="price-block__total">
                                {{object.price | price}} ₽
                            </div>
                            <div>x
                                {{ getCostSquareMeter(object) | price}} ₽/м²
                            </div>
                        </div>

                        <div class="title-object">
                            <div class="title-object__item">
                                {{getFirstTitleParameter(object)}}
                            </div>
                            <div class="title-object__item">
                                {{getSecondTitleParameter(object)}}
                            </div>
                            <div class="title-object__item">
                                {{getThirdTitleParameter(object)}}
                            </div>
                        </div>

                        <div class="address">
                            <div>
                                {{object.fullAddress}}
                            </div>
                            <div class="city">
                                {{ object.city }}
                            </div>
                        </div>
                    </div>
                    <div class="profile">
                        <div
                                v-if="object.user.agency"
                                class="profile__agency"
                        >
                            {{object.user.agency}}
                        </div>

                        <div class="profile__name">
                            {{object.user.name}}
                        </div>
                    </div>
                </a>
            </div>
            <div class="objects-list__paginate">
                <ul class="pagination">
                    <a
                            @click="changePage(pagination.current_page - 1)"
                            class="pagination__item"
                            href="#"
                    >
                        «
                    </a>
                    <a
                            v-for="page in pagination.last_page"
                            @click="changePage(page)"
                            :class="{'active' : page === pagination.current_page}"
                            class="pagination__item"
                    >
                        {{ page }}
                    </a>
                    <a
                            @click="changePage(pagination.current_page + 1)"
                            class="pagination__item"
                            href="#"
                    >
                        »
                    </a>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    import loader from './CubeLoader';

    export default {
        name: "ObjectsList",
        data() {
            return {
                page: 1,
                pagination: {},
                objects: {
                    meta: {
                        total: 0
                    }
                },
                loading: false
            }
        },
        components: {
            loader
        },
        created() {
            this.loadObjects();
        },
        computed: {
            getObjectTitleDeclination() {
                let titles = ['объявление', 'объявления', 'объявлений'];
                let number = this.objects.meta.total;
                let cases = [2, 0, 1, 1, 1, 2];
                return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
            }
        },
        methods: {
            loadObjects() {
                this.loading = true;
                this.$axios.get('/api/objects', {
                    params: {
                        page: this.page
                    }
                }).then(response => {
                    this.objects = response.data;
                    this.pagination = this.objects.meta;
                }).catch(error => {
                    console.log(error);
                }).finally(() => {
                    this.loading = false;
                })

            },
            getCostSquareMeter(object) {
                switch (object.category) {
                    case 'flat':
                    case 'house':
                    case 'cottage':
                        return Math.floor(object.price / object.extended.area);
                    case 'room':
                        return Math.floor(object.price / object.extended.room_space);
                    default: return ''
                }
            },
            changePage(page) {
                this.page = page;
            },
            getFirstTitleParameter(object) {
                switch (object.category) {
                    case 'flat':
                    case 'room':
                        return object.extended.count_rooms + '-комн. квартира'
                    case 'house':
                    case 'cottage':
                        return object.building.floors_total + '-эт. дом'
                }
            },
            getSecondTitleParameter(object) {
                switch (object.category) {
                    case 'flat':
                    case 'room':
                    case 'house':
                    case 'cottage':
                        return object.extended.area + ' м²'

                }
            },
            getThirdTitleParameter(object) {
                switch (object.category) {
                    case 'flat':
                    case 'room':
                        return object.extended.count_rooms + '-комн. квартира'
                    case 'house':
                    case 'cottage':
                        return object.extended.lot_area + ' сот.'
                }
            }
        },
        watch: {
            page: {
                handler() {
                    this.loadObjects();
                }
            },
        }
    }
</script>

<style lang="scss" scoped>
    .objects {
        width: 750px;
        background-color: #f2f4f6;

        @media only screen and (max-width: 1200px) {
            width: 350px;
        }
    }

    .objects-list {
        height: 100%;
        overflow-y: auto;

        &__header {
            padding: 16px 0 0 16px;
            position: relative;

            h2 {
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
            }
        }

        &__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin-right: 16px;
            margin-bottom: 16px;

            @media only screen and (max-width: 1200px) {
                margin-right: 0;
            }
        }

        &__item {
            width: calc(50% - 16px);
            margin: 16px 0 0 16px;
            border-radius: 3px;
            background: #fff;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .07);
            font-size: 12px;
            line-height: 16px;
            color: #93989d;
            height: 387px;
            display: flex;
            flex-direction: column;
            text-decoration: none;

            @media only screen and (max-width: 1200px) {
                width: 100%;
                margin-left: 0;
            }
        }

        &__images {
            height: 180px;
            width: 100%;
            position: relative;

            .type-object {
                position: absolute;
                bottom: 10px;
                right: 10px;
                background: white;
                padding: 5px 10px;
                font-size: 1rem;
                border-radius: 5px;
                color: #333;
            }

            img {
                border-radius: 3px 3px 0 0;
                height: 100%;
                width: 100%;
                object-fit: cover;

                @media only screen and (max-width: 1200px) {
                    border-radius: 0;
                }
            }
        }

        &__options {
            flex-grow: 1;
            padding: 10px 16px 12px;
        }

        &__paginate {
            padding: 16px;

            .pagination {
                display: inline-block;
                padding: 0;
                margin: 0;

                &__item {
                    display: inline;
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color .3s;
                    border: 1px solid #ddd;
                    margin: 0 4px;

                    &.active {
                        background-color: #4CAF50;
                        color: white;
                        border: 1px solid #4CAF50;
                    }

                    &:hover:not(.active) {
                        background-color: #ddd;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .price-block {
        &__total {
            color: #242629;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            letter-spacing: .4px;
        }
    }

    .title-object {
        display: flex;
        font-size: 14px;
        line-height: 19px;
        font-weight: 500;
        color: #242629;
        margin: 6px 0;

        &__item {
            &:not(:last-child) {
                border-right: 1px solid #e2e4e6;
                padding-right: 8px;
                margin-right: 8px;
            }
        }
    }

    .address {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .city {
        color: #242629;
    }

    .profile {
        border-top: 1px solid #e2e4e6;
        padding: 8px 16px;
        height: 47px;
        color: #242629;

        &__name {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 10px;
        }
    }

</style>