@charset "UTF-8";

/*
 * Файл для сброса всех станартных стилей
 */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
}

sup {
  vertical-align: super;
  line-height: 0;
  font-size: xx-small;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: SeroPro;
  src: url(/fonts/SeroPro-regular.woff?7eb115e5d8c65aa70127f194f6d2b545) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SeroPro;
  src: url(/fonts/SeroPro-medium.woff?87c54ab89778d48d924eadcbba189017) format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: SeroPro;
  src: url(/fonts/SeroPro-medium.woff?87c54ab89778d48d924eadcbba189017) format("woff");
  font-weight: 600;
  font-style: normal;
}

