<template>
    <div class="content-wrap">
        <div class="map-block">
            <leaflet-map/>
        </div>
        <objects-list/>
    </div>
</template>

<script>
    import ObjectsList from '../components/ObjectsList';
    import LeafletMap from '../components/LeafletMap';

    export default {
        name: "Home",
        components: {
            LeafletMap,
            ObjectsList
        },
    }
</script>

<style lang="scss" scoped>
    .map-block {
        flex: 1;
    }
</style>