<template>
    
</template>

<script>
    export default {
        name: "Report",
        methods:{
            loadReport() {
                this.loading = true;
                this.$axios.post('/api/map/objects', {
                    city_id : 1207
                }).then(response => {
                    this.loading = false;
                }).catch(error => {
                    console.log(error);
                    this.loading = false;
                })
            },
        }
    }
</script>

<style scoped>

</style>