@font-face {
  font-family: SeroPro;
  src: url("../fonts/SeroPro-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: SeroPro;
  src: url("../fonts/SeroPro-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: SeroPro;
  src: url("../fonts/SeroPro-medium.woff") format("woff");
  font-weight: 600;
  font-style: normal
}