<template>
    <div id="app">
        <app-header></app-header>
        <div class="content">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import AppHeader from './components/AppHeader';

    export default {
        name: "Application",
        data() {
            return {
            }
        },
        components: {
            AppHeader
        },
        created() {
        },
        methods: {
        },
        watch: {
        }
    }
</script>

<style lang="scss" scoped>
    #app {
        display: flex;
        flex-direction: column;
        flex: 1;
        font-size: 14px;
        background: #f2f4f6;
        min-width: 320px;
        height: 100vh;
        color: #4b545b;
        font-family: SeroPro, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
    }

    .content {
        flex: 1;
        height: calc(100% - 80px);

        .content-wrap {
            display: flex;
            height: 100%;
        }
    }
</style>